<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= hidden_input f, :username, value: @username, class: "form-control" %>
    <%= error_tag f, :username %>
  </div>

  <div class="form-group">
    <%= label f, :r1, class: "control-label" %>
    <%= number_input f, :r1, id: "r1", class: "form-control" %>
    <%= error_tag f, :r1 %>
  </div>

  <div class="form-group">
    <%= label f, :r2, class: "control-label" %>
    <%= number_input f, :r2, id: "r2", class: "form-control" %>
    <%= error_tag f, :r2 %>
  </div>
  
  <%= if @frameno == "10" do %>
    <div class="form-group">
      <%= label f, :r3, class: "control-label" %>
      <%= number_input f, :r3, id: "r3", class: "form-control" %>
      <%= error_tag f, :r3 %>
    </div>
  <%= else %>
    <div class="form-group">
      <%= label f, :r3, class: "control-label" %>
      <%= number_input f, :r3, value: 0, class: "form-control", disabled: true %>
      <%= error_tag f, :r3 %>
    </div>
  <%= end %>

  

  <div class="form-group">
    <%= hidden_input f, :frameno, value: @frameno, class: "form-control" %>
    <%= error_tag f, :frameno %>
  </div>

  <div class="form-group">
    <%= submit "Submit", id: "submit_button", class: "btn btn-primary" %>
  </div>
<% end %>
