<h2>Listing Frames</h2>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>R1</th>
      <th>R2</th>
      <th>R3</th>
      <th>Frameno</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for frame <- @frames do %>
    <tr>
      <td><%= frame.username %></td>
      <td><%= frame.r1 %></td>
      <td><%= frame.r2 %></td>
      <td><%= frame.r3 %></td>
      <td><%= frame.frameno %></td>

      <td class="text-right">
        <span><%= link "Show", to: frame_path(@conn, :show, frame), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: frame_path(@conn, :edit, frame), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: frame_path(@conn, :delete, frame), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Frame", to: frame_path(@conn, :new) %></span>
