<h2>Show Frame</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @frame.username %>
  </li>

  <li>
    <strong>R1:</strong>
    <%= @frame.r1 %>
  </li>

  <li>
    <strong>R2:</strong>
    <%= @frame.r2 %>
  </li>

  <li>
    <strong>R3:</strong>
    <%= @frame.r3 %>
  </li>

  <li>
    <strong>Frameno:</strong>
    <%= @frame.frameno %>
  </li>

</ul>

<span><%= link "Edit", to: frame_path(@conn, :edit, @frame) %></span>
<span><%= link "Back", to: frame_path(@conn, :index) %></span>
